.comment_form
  - form_for @comment, :html => {:remote => true, :onsubmit => 'if(!validate_comment()) return false;'} do |f|
    = f.hidden_field :commentable_type
    = f.hidden_field :commentable_id
    .height
      %label Name
      = f.text_field :name

    .height
      %label URL
      = f.text_field :url

    .height
      %label Comment
      = f.text_area :comment, :rows => 5

    %br
    .height
      = f.submit 'Add comment'

