= form_for @portfolio do |f|
  .field
    %label Title
    = f.text_field :title

  .field
    %label Site URL
    = f.text_field :url

  .field
    %label Active Site
    = f.check_box :active_site

  .field
    %label Image URL
    = f.text_field :image_url

  .field
    %label Description
    = f.text_field :short_description

  .field
    %label Body
    = f.text_area :body, rows: 15, cols: 70

  .field
    = f.submit
