.portfolio.full
  .portfolio_text
    %h1
      = @portfolio.title
      %br
      %small
        URL:
        = link_to @portfolio.url, "http://#{@portfolio.url}"
        %br
        Tags:
        = tag_links(@portfolio)
        - if logged_in?
          %br
          = link_to 'edit', edit_portfolio_path
    = image_tag @portfolio.photo_url(:thumb)
    = markdown @portfolio.body
