- content_for :head do
  = javascript_include_tag :defaults

.portfolio.full 
  .portfolio_text
    %h1
      = @portfolio.title
      %br
      %small
        URL:
        = auto_link @portfolio.url
        %br
        Tags:
        = tag_links(@portfolio)
        - if logged_in?
          %br
          = link_to 'edit', edit_portfolio_path
    = image_tag @portfolio.photo_url(:thumb)
    = markdown @portfolio.body

