.row
  .small-3.columns &nbsp;

  .small-18.columns
    %nav.top-bar{ data: { topbar: true }, role: 'navigation' }
      %ul.title-area
        %li.name
          = image_tag 'logo.png', alt: 'Jimlabs'
          %h1 Jim Ruther Nill's blog and portfolio

      %section.top-bar-section
        %ul.right
          = tabbed_link_to 'me', root_path(anchor: 'personal-details'), 'home'
          = tabbed_link_to 'portfolio', root_path(anchor: 'portfolio'), 'portfolio'
          = tabbed_link_to 'blog', posts_path, 'blog'
          = tabbed_link_to 'contact', contact_path, 'contactus'

  .small-3.columns &nbsp;
