%ul.header
  = tabbed_link_to 'me', root_path, 'home'
  = tabbed_link_to 'blog', posts_path, 'blog'
  = tabbed_link_to 'portfolio', portfolio_index_path, 'portfolio'
  = tabbed_link_to 'contact', contact_path, 'contactus'
.logo
  = image_tag 'logo.png'
  %h1{:style => 'text-align:center; font-size:12px; margin-top:5px;'} Jim Ruther Nill's blog and portfolio
