.small-3.columns &nbsp;

.small-18.columns
  %h2.title Contact Me

  .row
    .small-4.columns
      = link_to 'http://github.com/jvnill', class: 'icon icon-github', target: '_blank' do
        %span Github

    .small-4.columns
      = link_to 'http://au.linkedin.com/pub/jim-ruther-nill/38/62a/ab4', class: 'icon icon-linkedin', target: '_blank' do
        %span LinkedIn

    .small-4.columns
      = link_to 'https://twitter.com/jvnill', class: 'icon icon-twitter', target: '_blank' do
        %span Twitter

    .small-4.columns
      = link_to 'https://www.facebook.com/jim.nill', class: 'icon icon-facebook', target: '_blank' do
        %span Facebook

    .small-4.columns
      = link_to 'skype:jimboker?call', class: 'icon icon-skype' do
        %span Skype

    .small-4.columns
      = link_to 'http://stackoverflow.com/users/337166/jvnill', class: 'icon icon-stackoverflow', target: '_blank' do
        %span Stack Overflow

    .clearfix

.small-3.columns &nbsp;
