.row
  .small-12.columns
    %h2.title Contact Me

    %ul.small-block-grid-3.large-block-grid-6
      %li
        = link_to 'http://github.com/jvnill', class: 'icon icon-github', target: '_blank' do
          %span Github

      %li
        = link_to 'http://au.linkedin.com/pub/jim-ruther-nill/38/62a/ab4', class: 'icon icon-linkedin', target: '_blank' do
          %span LinkedIn

      %li
        = link_to 'https://twitter.com/jvnill', class: 'icon icon-twitter', target: '_blank' do
          %span Twitter

      %li
        = link_to 'https://www.facebook.com/jim.nill', class: 'icon icon-facebook', target: '_blank' do
          %span Facebook

      %li
        = link_to 'skype:jimboker?call', class: 'icon icon-skype' do
          %span Skype

      %li
        = link_to 'http://stackoverflow.com/users/337166/jvnill', class: 'icon icon-stackoverflow', target: '_blank' do
          %span Stack Overflow

.row
  .small-12.columns
    %h2.title{ style: 'margin-top:3em' } Send an Inquiry

    = form_for Enquiry.new do |f|
      .row
        .small-10.large-8.column.small-centered
          %label
            %span Name
            = f.text_field :name

      .row
        .small-10.large-8.column.small-centered
          %label
            %span Email
            = f.text_field :email

      .row
        .small-10.large-8.column.small-centered
          %label
            %span Company Name
            = f.text_field :company

      .row
        .small-10.large-8.column.small-centered
          %label
            %span Message
            = f.text_area :message, rows: 5

      .row
        .small-10.large-8.column.text-center.small-centered
          = f.submit 'Send', class: 'button'
