.row
  .small-12.columns
    .me-header
      .row
        .large-3.column.text-center.hide-for-medium.hide-for-small
          = image_tag 'https://dl.dropboxusercontent.com/u/32173582/jimlabs/me.jpg'

        .small-12.large-9.column
          I'm
          %h1 Jim Ruther Nill
          a Rails Developer with #{years_experience} professional experience living in the #{link_to 'Pearl of the Orient - Philippines', 'http://itsmorefuninthephilippines.com/'}.

          %br
          %br
          I'm proudly married to a #{link_to 'really, really, really good children\'s book illustrator', 'http://behance.net/ninyanernel'} and a father of 1 very bright kid.

          %br
          %br
          I am currently looking for work as a freelance Rails Developer so if you are in need of one, please don't hesitate to #{link_to 'contact me', waypoint_path('contact-me'), data: { scroll: true }}.

          %br
          %br
          I enjoy, not in any particular order, coding, watching tv series and movies, playing board games, rpgs and puzzles, and traveling with my wife and kid.
