.small-3.columns &nbsp;

.small-18.columns
  .me-header
    .row
      .small-24.large-8.columns
        = image_tag 'https://dl.dropboxusercontent.com/u/32173582/jimlabs/me.jpg'

      .small-24.large-16.columns
        I'm
        %h1 Jim Ruther Nill
        a Rails Developer with #{years_experience} professional experience living in the #{link_to 'Pearl of the Orient - Philippines', 'http://itsmorefuninthephilippines.com/'}.

        %br
        %br
        I'm proudly married to a #{link_to 'really, really, really good children\'s book illustrator', 'http://behance.net/ninyanernel'} and a father of 1 very bright kid.

        %br
        %br
        I am currently working for #{link_to 'NetEngine', 'http://netengine.com.au'} as the Lead Developer for our product #{link_to 'Trigger', 'https://www.triggerapp.com'}.

        %br
        %br
        I enjoy, not in any particular order, coding, watching tv series and movies, playing board games, rpgs and puzzles, and traveling with my wife and kid.

.small-3.columns &nbsp;
