- content_for :head do
  %meta{ name: 'google-site-verification', content: 'y-DWD9KpC4v0v5sa8YI0_iMlbQ990rNT753IgDp6z_U' }

.section#me
  = render 'personal_details'
  .clearfix

.section#portfolio
  = render 'portfolio_gallery'
  .clearfix
  .text-center= link_to 'Back to top', '#top', class: 'light', data: { scroll: true }

= render 'ad'

.section#tools
  = render 'tools'
  .clearfix
  .text-center= link_to 'Back to top', '#top', class: 'dark', data: { scroll: true }

= render 'ad'

.section#contact-me
  = render 'contact_me'
  .clearfix
  .text-center= link_to 'Back to top', '#top', class: 'dark', data: { scroll: true }
