.contact_form
  %p.nice_border If you have any inquiries, just fill up the form below and I'll get back to you as soon as I can

  = form_for @enquiry do |f|
    - if @enquiry.errors.any?
      .height
        %center Please correct the fields in red.

    - if flash[:notice]
      %p= flash[:notice].html_safe

    = form_div @enquiry, :name, :class => 'height' do
      %label Name
      = f.text_field :name

    = form_div @enquiry, :email, :class => 'height' do
      %label Email
      = f.text_field :email

    = form_div @enquiry, :company, :class => 'height' do
      %label Company Name
      = f.text_field :company

    = form_div @enquiry, :message, :class => 'height' do
      %label Message
      = f.text_area :message, :rows => 5

    %br
    %br
    .height
      %center= f.submit 'Submit'
