!!! 5
%html
  %head
    %link{ rel: 'icon', href: '/favicon.ico', type: 'image/png' }

    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    = meta_tags

    %title= page_title

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application'

    = yield :head

    = csrf_meta_tags

  %body
    = render 'shared/header'

    .row
      .small-3.columns &nbsp;
      .small-14.columns= yield
      .small-4.columns= render 'shared/sidebar'
      .small-3.columns &nbsp;

    = render 'shared/footer'
