!!! 5
%html
  %head
    %link{ rel: 'icon', href: '/favicon.ico', type: 'image/png' }
    %meta{ content: 'text/html;charset=UTF-8', 'http-equiv' => 'content-type' }

    = meta_tags
    %title= page_title

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :head

    = csrf_meta_tags

  %body
    .wrapper
      #hd= render 'shared/header'
      - if @no_sidebar
        = yield
      - else
        #main
          #content
            = render :partial => 'shared/messages'
            #yield= yield
        #sidebar= render :partial => 'shared/sidebar'
    .footer= render :partial => 'shared/footer'
