!!! 5
%html
  %head
    %link{ rel: 'icon', href: '/favicon.ico', type: 'image/png' }

    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    = meta_tags

    %title= page_title

    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:400,100'

    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application'

    = yield :head

    = csrf_meta_tags

  %body
    #wrapper
      #header{ data: { magellan_expedition: 'fixed' } }= render 'shared/header'

      #body.row
        .small-3.columns &nbsp;
        .small-18.columns= yield
        .small-3.columns &nbsp;

      .push

    #footer= render 'shared/footer'
