!!! 5
%html
  %head
    %link{ rel: 'icon', href: '/favicon.ico', type: 'image/png' }

    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    = meta_tags

    %title= page_title

    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:400,100'

    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application'
    = javascript_include_tag '//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-540370b95c94891a'

    = yield :head

    = csrf_meta_tags

  %body
    #wrapper
      #top.off-canvas-wrap{ data: { offcanvas: true } }
        .inner-wrap
          %nav.tab-bar.hide-for-large-up
            %section.left-small
              %a.left-off-canvas-toggle.menu-icon{ href: '#' }
                %span

            %section.middle.tab-bar-section.text-left
              %h1.title Jimlabs | Jim Ruther Nill

          %aside.left-off-canvas-menu
            %ul.off-canvas-list
              %li= content_tag(:label, 'Jimlabs')
              = render 'shared/menu'

          %section.main-section
            .contain-to-grid.show-for-large-up
              %nav.top-bar{ data: { topbar: true }, role: 'navigation' }
                %ul.title-area
                  %li.name
                    %h1
                      = link_to root_url do
                        = image_tag 'logo.png', alt: 'Jimlabs'
                        %div Jim Ruther Nill's blog and portfolio

                %section.top-bar-section
                  %ul.right= render 'shared/menu'

            = yield

          %a.exit-off-canvas

      .push

    #footer= render 'shared/footer'
